body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
}
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

.header{
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
}
.header-nav{
    display: flex;
    align-items: center;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    margin-right: 76px;
    padding: 24px;
}
.header-logo-studio{
    color: #2E2F42;
}
.header-nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-nav-list-item{
    font-size: 16px;
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: none;
    padding: 24px 0;
    display: flex;
    align-items: center;
}
.header-nav-list-item:hover {
    font-size: 16px;
    color: #404BBF;
    font-weight: 500;
    font-size: 16px;
}
.header-nav-list-item:focus {
    font-size: 16px;
    color: #404BBF;
    font-weight: 500;
    font-size: 16px;
}
address{
    font-style: normal;
}
.header-address-list{
    display: flex;
    gap: 40px;
}

.header-address-contacts {
    font-weight: 400 ;
    color: #434455;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-address-contacts:hover{
    font-weight: 400;
    color: #404BBF;
    font-style: normal;
}
.header-address-contacts:focus {
    font-weight: 400;
    color: #404BBF;
    font-style: normal;
}
.hero{
    background-color: #2E2F42;
    padding: 188px 0;
}
   
.hero-title{
    color: #ffffff;
    font-family: 'roboto';
    font-weight: 800;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.hero-button{
    color: #ffffff;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    display: block;
    border: none;
}
.hero-button:hover{
    color: #ffffff;
    background-color: #404BBF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.hero-button:focus {
    color: #ffffff;
    background-color: #404BBF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.about-us {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.about-us-list{
    display: flex;
    gap: 24px;;
}
.about-us-list-title{
    width: calc((100% - 72px) / 4);
}
.about-us-item{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.about-us-text{
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.team-container{
    padding-right: 15px;
    padding-left: 15px;
    width: 1440px;
    
}
.team{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-title{
    color: #2E2F42;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
}
.team-list{
    display: flex;
    gap: 24px;
}
.team-list-item{
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100 - 72px) / 4);
}
.team-text-container{
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-names{
    font-size: 20px;
    font-weight: 500;
    color: #2E2F42;
    background-color: #fff;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}
.team-position{
    color: #434455;
    background-color: #fff;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title{
    color: #2E2F42;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-list-item{
    width: calc((100 - 48px) / 3);   
}
.portfolio-samples{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-kind{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-list-text{
    padding: 32px 16px;
    border-right: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-left: 1px solid var(--CORNFLOWER, #E7E9FC);
}
.footer{
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-logo-link{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}
.footer-logo-studio{
    color: #F4F4FD;
}
.footer-text{
    font-family: "roboto", sans-serif;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: none;
    width: 264px;    
}